header { background-color: rgb(51, 41, 41); border-style:solid;
}
li {list-style-type: none;
}
.imgPerf {
    border-radius:100% ;
}
.miNombre {
    font-size: 3rem;
}
.apellido {color: black
    ;}
body { margin: 100; color: whitesmoke; background-color: rgb(82, 136, 82) ;}
footer { background-color: black;}

